<div class="section">
    <div class="title is-3">Reviews</div>
    <table class="table is-bordered is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Worth</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Black Ops 3</td>
                <td>Xbox Game</td>
                <td>No</td>
            </tr>
        </tbody>
    </table>
    {{#link-to "submit" tagName="button" class="button is-success is-pulled-right"}}Submit A Review{{/link-to}}
</div>
